:root{
  --accent-color: #491775;
  --base-color: white;
  --text-color: #242324;
  --input-color: #F3F0FF;
}
*{
  margin: 0;
  padding: 0;
}
html {
  min-height: 100%;
  font-family: Poppins, Segoe UI, sans-serif;
  font-size: 12pt;
  color: var(--text-color);
  text-align: center;

  background-image: url("../../public/images/registropaisagem.jpg");
  background-size: auto 100%;      
  background-position: 165% center; /* move ainda mais para a direita */
  background-repeat: no-repeat;
}

body{
  min-height: 100vh;
  background: transparent;
  overflow-x: hidden;
}

/* ------------------------------------------------ HEADER ------------------------------------------------ */

/* Layout do topo com flexbox e degradê */
header {
  padding: 8px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left, #9574af, #491775, #000000);
}

/* Cor do título do cabeçalho */
header h1 {
  color: #38bdf8;
}

/* Alinha logo e texto horizontalmente */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Tamanho da logo e efeito de brilho */
.logo img {
  height: 50px;
  width: auto;
  filter: drop-shadow(0 0 34px rgb(255, 145, 0));
}

/* Botão de destaque */
.hedrBtnCadast {
  font-weight: 700;
  background: #dd7b0b;
  color: #ffffff;
  border-radius: 16px;
  padding: 10px 25px;
  font-size: 0.8rem;
  cursor: pointer;
  letter-spacing: 0.3px;
}
/* Hover do botão de destaque */
.hedrBtnCadast:hover {
  box-shadow: 0 0 10px rgba(10, 7, 2, 0.705);
  background: #3d0364;
}

/* ------------------------------------------------ NAV ------------------------------------------------ */

/* Organiza os botões do menu */
nav{
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Estilo base dos botões */
nav button {
  line-height: 1;
  border: none;
  border-radius: 6px;
  background: #dd7b0bec; 
  color: #ffffff;
  padding: 0;
  height: auto;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  box-shadow: 0 0 20px rgb(5, 33, 44);
}

/* Botões comuns do menu */
nav button.hedrBtn {
  font-weight: 500;
  font-size: 0.8rem;
  display: inline-flex;      
  align-items: center;  
  justify-content: center;
  padding: 4px 20px;       
  height: 32px; 
  border-radius: 6px;
  line-height: 1;
  min-height: 0;            
  -webkit-appearance: none;
  appearance: none;
}

/* Espaçamento e tamanho do ícone */
nav button.hedrBtn i {
  margin-left: 8px;
  font-size: 1rem;
}

/* Ajuste do ícone do botão entrar */
nav button.hedrBtnCadast i {
  margin-left: 8px;
  font-size: 0.9rem;
}

/* Efeito hover dos botões comuns */
.hedrBtn:hover {
  background: #7edefc21;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform: scale(1.05);
}

/* ------------------------------------------------ WRAPPER ------------------------------------------------ */

.wrapper{
  box-sizing: border-box;
  background-color: var(--base-color);
  min-height: 100vh;
  height: auto;
  width: max(40%, 600px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;

  letter-spacing: 0.8px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
}

form{
  width: min(400px, 100%);
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
form > div{
  width: 100%;
  display: flex;
  justify-content: center;
}
form label{
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-color);
  fill: var(--base-color);
  color: var(--base-color);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}
form input{
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1em;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--input-color);
  border-left: none;
  background-color: var(--input-color);
  transition: 150ms ease;
}
form input:hover{
  border-color: var(--accent-color);
}
form input:focus{
  outline: none;
  border-color: var(--text-color);
}
div:has(input:focus) > label{
  background-color: var(--text-color);
}
form input::placeholder{
  color: var(--text-color);
}
form button{
  margin-top: 10px;
  border: none;
  border-radius: 1000px;
  padding: .85em 4em;
  background-color: var(--accent-color);
  color: var(--base-color);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 150ms ease;
}
form button:hover{
  background-color: var(--text-color);
}
form button:focus{
  outline: none;
  background-color: var(--text-color);
}
a{
  text-decoration: none;
  color: var(--accent-color);
}
a:hover{
  text-decoration: underline;
}
@media(max-width: 1100px){
  .wrapper{
    width: min(600px, 100%);
    border-radius: 0;
  }
}
form div.incorrect label{
  background-color: #f06272;
}
form div.incorrect input{
  border-color: #f06272;
}
#error-message{
  color:#f06272;
}

/* ------------------------------------------------ FOOTER ------------------------------------------------ */

/* Rodapé */
footer {
  padding: 20px;
  text-align: center;
  font-size: 0.85rem;
  background: #10021b;
  color: #94a3b8;
}

